@import '../Styles/variables.scss';


.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "reset title shuffle";
}

.appTitle{
    grid-area: title;
    font-size: 90px;
    text-align: center;
    color: #fff;
    text-decoration: underline;
}

.resetContainer{
    grid-area: reset;
    display: inline;
    text-align:center
}

.resetBtn{
    border-radius: 5px;
    color: $fontColor;
    background-color: green;
    width: 150px;
    height: 50px;
}

.shuffleContainer{
    grid-area: shuffle;
    display: inline;
    text-align:center
}

.resetBtn:hover {
    cursor: pointer;
    background-color: plum;
}