@import '../Styles/variables.scss';


.quizCard{
    border: $textBorder;
    width: 50%;
    color: $fontColor;
    background: hsla(137, 100%, 81%, .6)
}

.localStgContainer {
    margin: 20px 0;
    text-decoration: underline;
    border-top: $textBorder;
    border-bottom: $textBorder;
}
