@import '../Styles/variables.scss';

.mainScreen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "prevBtn card nextBtn"
    "footer footer footer";
    margin: $defaultMargin;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.quizCard{
    grid-area: card;
}

.buttonContainer{
    grid-area: prevBtn nextBtn;
}

.header{
    grid-area: header;
}

.footerContainer{
    grid-area: footer;
}
